name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js and pnpm
        uses: ./.github/actions/setup-node

      - name: Generate typed routes
        run: pnpm -r run generate-types

      - name: Run Oxlint
        run: pnpm -r run lint:oxlint --format=github

      - name: Run ESLint
        run: pnpm -r run lint:eslint

      - name: Check formatting
        run: pnpm -r run lint:format
